#top-section {
  min-width: 100vw;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}

form#search {
  position: relative;
  width: 350px;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto 25px 70px 35px;
}

#top-search {
  /* // grid-column: 1 / 3;
      // width: 100%;
      // grid-row: 2; */
}

#top-search input {
  background: #1f1f1f;
  color: white;
  font-size: 16px;
}

/* // #search-autocomplete div {
  // 	background: black;
  // 	padding: 2px 8px;
  // }
  
  // #search-autocomplete div:hover {
  // 	background: #111;
  // 	cursor: pointer;
  // } */

#search-btn {
  padding: 0;
}

form#search select {
  background: #1f1f1f;
  color: white;
  font-size: 12px;
}

#top-section #nav-menu {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#top-section #nav-menu a {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#top-section svg.toogle-mobile {
  fill: white;
  width: 20px;
  padding: 0 8px;
  display: none;
}

@media (hover: none),
(max-width: 600px) {
  #top-section #nav-menu {
    display: none;
  }

  #top-section svg.toogle-mobile {
    display: block;
  }

  #top-section.nav-focus #nav-menu {
    display: flex;
  }

  #top-section.nav-focus form#search {
    display: none;
  }
}